@using WebAPI.Models
@model WebAPI.Models.AlbumDetailsViewModel
@{
    ViewBag.Title = "Index";
}

@section css{
    <!-- Bootstrap Core CSS -->
    @*<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />*@
    <!-- Custom CSS -->
    @*<link href="~/Content/Common/style.css" rel="stylesheet" />*@
    <!-- Graph CSS -->
    @*<link href="~/Content/Common/font-awesome.css" rel="stylesheet">*@
    <!-- jQuery -->
    <!-- lined-icons -->
    @*<link rel="stylesheet" href="css/icon-font.css" type='text/css' />*@
    <link href="~/Content/Common/icon-font.css" rel="stylesheet" />
    <link href="~/Content/home-page.css" rel="stylesheet" />
    <link href="~/Content/Libraries/playlist-style.css" rel="stylesheet" />
    <link href="~/Content/Common/slidebar.css" rel="stylesheet" />
    <link href="~/Content/album-detail.css" rel="stylesheet" />
    <link href="~/Content/songplaylist.css" rel="stylesheet" />
}

<script src="~/Scripts/Libraries/playlist.js"></script>
<script src="~/Scripts/Common/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>

@section scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/Common/jquery.nicescroll.js"></script>
    <script src="~/Scripts/Common/jquery.nicescroll.js"></script>
    <script src="~/Scripts/Common/scripts.js"></script>
    <script src="~/Scripts/Common/jquery-ui.min.js"></script>
    <script src="~/Scripts/Common/songplaylist.js"></script>
}

<section>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content">
        <div id="page-wrapper">
            <div class="inner-content">
                <div class="music-left">
                    <!--banner-section-->
                    <div id="albumDetails">
                        <article>
                            <figure><img src="@Model.AlbumDetail.Thumbnail" alt="@Model.AlbumDetail.Title"></figure>
                            <div class="album-information-wrapper">
                                <header>
                                    <h1>@Model.AlbumDetail.Title</h1>
                                    <h3>@Model.AlbumDetail.ArtistName</h3>
                                </header>
                            </div>
                        </article>
                    </div>
                    <!--//End-banner-->
                    <!--albums-->
                    @Html.Partial("_ListAlbums", (IList<AlbumSummary>)Model.AlbumsSameArtists, new ViewDataDictionary { { "AlbumGroupTitle", "Album of the same artist" } })
                    <!--//End-albums-->
                </div>
                <!--//music-left-->
                <!--/music-right-->
                <div class="music-right">
                    <div id="mainwrap">
                        @Html.Partial("_MusicPlayList", (IList<MusicStore.BussinessEntity.SongEntity >)Model.Songs)
                    </div>

                    <!-- //script for play-list -->
                    <!--//video-main-->
                    <!--/app_store-->
                    <div class="apps">
                        <h3 class="hd-tittle">Music Online now available in</h3>
                        @*<div class="banner-button">
                                <a href="#"><img src="~/content/images/1.png" alt=""></a>
                            </div>*@
                        <div class="banner-button green-button">
                            <a href="#"><img src="~/content/images/2.png" alt=""></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--//app_store-->
                    <!--/start-paricing-tables-->
                </div>
                <!--//music-right-->
                <div class="clearfix"></div>
                <!-- /w3l-agile-its -->
            </div>
            <!--body wrapper start-->

            <div class="review-slider">
                <div class="tittle-head">
                    <h3 class="tittle">Related Albums</span></h3>
                    <div class="clearfix"> </div>
                </div>
                <ul id="flexiselDemo1">
                    @foreach (var album in @Model.AlbumsSameGenres)
                    {
                        <li>
                            <a href="/WebAlbum/Index?id=@album.Id"><img src="@album.Thumbnail" alt="@album.Title" /></a>
                            <div class="slide-title"><h4>@album.Title</h4></div>
                            <div class="date-city">
                                <h5>@album.ReleaseDate</h5>
                            </div>
                        </li>
                    }
                </ul>
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselDemo1").flexisel({
                            visibleItems: 5,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: false,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 2
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 3
                                },
                                tablet: {
                                    changePoint: 800,
                                    visibleItems: 4
                                }
                            }
                        });
                    });
                </script>
                <script src="~/Scripts/Common/jquery.flexisel.js"></script>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--body wrapper end-->
        <!-- /w3l-agile -->
    </div>
    <!--body wrapper end-->
    <!-- /w3l-agile -->
    <!-- main content end-->
</section>


