﻿@using Helper;
@using WebAPI.Filters;
@{
    var identity = System.Threading.Thread.CurrentPrincipal.Identity as BasicAuthenticationIdentity;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/favicon.ico">
    @Styles.Render("~/Content/dashboard_css")
    @RenderSection("css", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/dashboard_js")
    @RenderSection("scripts", required: false)
    <link href="~/Content/ProjectManagement/scss/main.css" rel="stylesheet" />
    <link href="~/Content/Common/materialize-css-icon.css" rel="stylesheet" />
    <script src="~/Scripts/build/layout.js"></script>
    <script src="~/Scripts/build/pageHeader.js"></script>
    <link href="~/node_modules/toastr/build/toastr.css" rel="stylesheet" />
    <script>
        var host = "@Request.Url.Host";
        var applicationPath = "@HttpContext.Current.Request.ApplicationPath";
    </script>
    <script language="javascript" type="text/javascript">
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
</head>
<body class="sticky-header left-side-collapsed">
    <div id="loading">
        <img id="loading-image" src="~/Content/Images/loading.gif" alt="Loading..." />
    </div>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                    <ul class="header-menu nav">
                        <li class="nav-item">
                            <a href="~/dashboard" class="nav-link active">
                                <i class="nav-link-icon fa fa-database"> </i>
                                Dashboard
                            </a>
                        </li>
                        <li class="btn-group nav-item">
                            <a href="~/project" class="nav-link">
                                <i class="nav-link-icon fa fa-edit"></i>
                                Projects
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="~/task" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Tasks
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="~/taskrequest" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Task Request Management
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="~/user" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Users
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        @if (identity != null && identity.IsAuthenticated)
                        {
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">

                                    <div class="widget-content-left  ml-3 header-user-info">
                                        <div class="widget-heading">
                                            @identity.UserName
                                        </div>
                                        <div class="widget-subheading">
                                            @if (identity.RoleId == (int)UserRoleEnum.ADMIN)
                                            {
                                                <span>Admin</span>
                                            }
                                            else
                                            {
                                                <span>User</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="widget-content-right header-user-info ml-3">
                                        <div class="btn-group">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                <i class="fa fa-angle-down ml-2 mr-2 opacity-8"></i>
                                            </a>
                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                                <button type="button" tabindex="0" class="dropdown-item" id="btn_AccountSetting">Settings</button>
                                                <button type="button" tabindex="0" class="dropdown-item" id="btn_SignOut">Sign Out</button>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="widget-content-right header-user-info ml-3">
                                            <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                                <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                            </button>
                                        </div>*@
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main">
            @RenderBody()
        </div>
</body>
</html>
