<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body class="sticky-header left-side-collapsed">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index">
                    <span class="small-icon icon-website-icon navbar-brand"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Albums", "Index", "WebAlbum")</li>
                    <li>@Html.ActionLink("Artists", "Index", "WebArtist")</li>
                    <li>@Html.ActionLink("Collections", "Index", "WebCollection")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                        <ul class="dropdown-menu genre-menu">
                            @Html.Action("GenresMenu", "Home", null)
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right mainmenu-searchform" action="/Home/Search">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control mainmenu-txtquery" placeholder="Search" value="@ViewBag.queryString">
                    </div>
                    <button id="btnSearch" type="submit" class="btn btn-search glyphicon glyphicon-search "></button>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer">
            <div class="clearfix"> </div>
            <p>&copy; @DateTime.Now.Year - Music Online</p>
        </div>
    </div>
</body>
</html>
