@model WebAPI.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoard_Layout .cshtml";
}

@section scripts{
    <script src="~/Scripts/build/dashboard.js"></script>
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row dashboard-content-panel">
            <div class="col-md-4 col-xl-4 card">
                <div class="card-header card-header-tab-animation">
                    <ul class="nav nav-justified">
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg8-0" class="active nav-link">Projects</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg8-1" class="nav-link">Task Request</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active project-task-panel" id="tab-eg8-0" role="tabpanel">
                            @foreach (var project in Model.projectWithTasks)
                            {
                                <ul class="vertical-nav-menu">
                                    <li>
                                        <a href="#" data-id="@project.Id" class="btn-project-item">
                                            <i class="metismenu-icon pe-7s-note2"></i>
                                            @project.Name
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul>
                                            @foreach (var task in project.Tasks)
                                            {
                                                <li>
                                                    <a href="#" data-id="@task.Id" class="btn-task-item">
                                                        <i class="metismenu-icon">
                                                        </i>@task.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </div>
                        <div class="tab-pane project-request-panel" id="tab-eg8-1" role="tabpanel">
                            @foreach (var project in Model.projectWithRequestTasks)
                            {
                                <ul class="vertical-nav-menu project-tree">
                                    <li>
                                        <a href="#" data-id="@project.Id" class="btn-project-item">
                                            <i class="metismenu-icon pe-7s-note2"></i>
                                            @project.Name
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul>
                                            @foreach (var taskRequest in project.TaskRequests)
                                            {
                                                <li>
                                                    <a href="#" data-id="@taskRequest.Id" class="btn-task-item">
                                                        <i class="metismenu-icon">
                                                        </i>@taskRequest.Description
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-8">
                <div id="projectPanel">
                    <div data-bind="template: {name:'projectDetailTemplate', data: curentProject}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="reservationTemplate">
    <tr>
        <td><input data-bind="value: name" /></td>
        <td><select data-bind="options: availableMeals, value: meal, optionsText: 'mealName'"></select></td>
        <td data-bind="text: formattedPrice"></td>
        <td><a href="#" data-bind="click: remove">Remove</a></td>
    </tr>
</script>

<script type="text/x-jquery-tmpl" id="projectDetailTemplate">
    <div class="main-card card">
        <div class="card-body d-flex flex-column">
            <div class="d-flex flex-row bd-highligh align-items-center">
                <i class="nav-link-icon fa fa-suitcase"> </i>
                <div class="project-title" data-bind="text: Name"></div>
            </div>
            <div class="d-flex flex-row bd-highligh align-items-center">
                <p data-bind="text: Description"></p>
            </div>
            <div class="d-flex flex-row bd-highligh align-items-center">
                <div>
                    <i class="fa fa-calendar-alt"></i>
                    <span data-bind="text: StartDate"></span>
                </div>
                <div>
                    <i class="fa fa-calendar-alt"></i>
                    <span data-bind="text: EndDate"></span>
                </div>
            </div>
        </div>
    </div>
</script>

