@using WebAPI.Models
@using MusicStore.BussinessEntity
@model WebAPI.Models.CollectionDetailsViewModel
@{
    ViewBag.Title = "Index";
}

@section css{
    <!-- Bootstrap Core CSS -->
    @*<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />*@
    <!-- Custom CSS -->
    @*<link href="~/Content/Common/style.css" rel="stylesheet" />*@
    <!-- Graph CSS -->
    @*<link href="~/Content/Common/font-awesome.css" rel="stylesheet">*@
    <!-- jQuery -->
    <!-- lined-icons -->
    @*<link rel="stylesheet" href="css/icon-font.css" type='text/css' />*@
    <link href="~/Content/Common/icon-font.css" rel="stylesheet" />
    <link href="~/Content/home-page.css" rel="stylesheet" />
    <link href="~/Content/Libraries/playlist-style.css" rel="stylesheet" />
    <link href="~/Content/Common/slidebar.css" rel="stylesheet" />
    <link href="~/Content/album-detail.css" rel="stylesheet" />
    <link href="~/Content/songplaylist.css" rel="stylesheet" />
}

<script src="~/Scripts/Libraries/playlist.js"></script>
<script src="~/Scripts/Common/responsiveslides.min.js"></script>

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>

@section scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/Common/jquery.nicescroll.js"></script>
    <script src="~/Scripts/Common/jquery-ui.min.js"></script>
    <script src="~/Scripts/Common/songplaylist.js"></script>
    <script src="~/Scripts/Common/scripts.js"></script>
}

<section>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content">
        <div id="page-wrapper">
            <div class="inner-content">
                <div class="music-left">
                    <!--banner-section-->
                    <div id="albumDetails">
                        <article>
                            <figure><img src="@Model.CollectionDetail.Thumbnail" alt="@Model.CollectionDetail.Title"></figure>
                            <div class="album-information-wrapper">
                                <header>
                                    <h1>@Model.CollectionDetail.Title</h1>
                                    <h3>@Model.CollectionDetail.Description</h3>
                                </header>
                            </div>
                        </article>
                    </div>
                    <!--//End-banner-->
                    <!--albums-->
                    @Html.Partial("_ListCollections", (IList<CollectionEntity>)Model.TopCollections, new ViewDataDictionary { { "GroupTitle", "Top Collections" } })
                    <!--//End-albums-->
                </div>
                <!--//music-left-->
                <!--/music-right-->
                <div class="music-right">
                    <div id="mainwrap">
                        @Html.Partial("_MusicPlayList", (IList<MusicStore.BussinessEntity.SongEntity>)Model.Songs)
                    </div>

                    <!-- //script for play-list -->
                    <!--//video-main-->
                    <!--/app_store-->
                    <div class="apps">
                        <h3 class="hd-tittle">Music Online now available in</h3>
                        @*<div class="banner-button">
                                <a href="#"><img src="~/content/images/1.png" alt=""></a>
                            </div>*@
                        <div class="banner-button green-button">
                            <a href="#"><img src="~/content/images/2.png" alt=""></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--//app_store-->
                    <!--/start-paricing-tables-->
                </div>
                <!--//music-right-->
                <div class="clearfix"></div>
                <!-- /w3l-agile-its -->
            </div>
            <!--body wrapper start-->
        </div>
        <div class="clearfix"></div>
        <!--body wrapper end-->
        <!-- /w3l-agile -->
    </div>
    <!--body wrapper end-->
    <!-- /w3l-agile -->
    <!-- main content end-->
</section>


